<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <link rel="stylesheet" href="/bower_components/bootstrap-css/css/bootstrap.min.css">
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/styles.css' />
  </head>
  <body>
    {{{body}}}
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="javascripts/dist/js/resume.js"></script>
  </body>
</html>
