body{
    /*background: #777B79; *//* change it to #f0f0f0 */
    /*background-color: #664946;*/
    /*background: radial-gradient(#648880, #293f50);*/
    /*background: radial-gradient(#000,#434343);
    background: radial-gradient(#E6DADA, #274046);*/
    /*background: #485563;
    background: linear-gradient(#485563 , #29323c);*/
    background: #485563;
    background: linear-gradient(#485563 , #29323c);
}
.profile, .work{
  background: #fff;
  background:rgba(255,255,255,0.79);
  box-shadow: 0 0 12px rgba(0,0,0,0.08);

}
.profileImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.role{
    color: #777b79;
}

.fa{
    margin-right: 5px;
    top:4px;
}

li{
    list-style: none;
}

.skills-list{
    font-size: 18px;
}
.skills{
    margin-bottom: 30px;
}
.github{
    width: 100%;
}
.reponame{
    font-weight: bold;
}
.tags{
    margin-right: 1%;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
p{
  font-size: 15px;
}
.fa-github, .fa-linkedin-square{
  color: black;
}
