body{
    background: #f0f0f0;
}
.profileImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.role{
    color: #777b79;
}

.fa{
    margin-right: 5px;
    top:4px;
}

li{
    list-style: none;
}