body{
    background: #777B79;/* change it to #f0f0f0 */
}
.profileImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.role{
    color: #777b79;
}

.fa{
    margin-right: 5px;
    top:4px;
}

li{
    list-style: none;
}

.skills-list{
    font-size: 18px;
}
.skills{
    margin-bottom: 30px;
}
.github{
    width: 100%;
}